// Header.scss

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header-left {
  display: flex;
  align-items: center;
}

.producterLogo {
  width: 185px;
  height: 56px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 8;
  margin-left: 24px;
  background-color: rgba(140, 151, 172, 0.07);
  border-radius: 5px;

  height: 32px;
  width: 200px;

}

.search-icon {
  width: 16px;
  height: 16px;
  padding-left: 8px;
  padding-right: 4px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  
  // font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  font-feature-settings: 'liga' off;
  color: #8C97AC;
}

.icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.plus-icon {
  width: 32px;
  height: 32px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 4px;
}