// Header.scss

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
}

.header-left {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: rgba(140, 151, 172, 0.07);
  border-radius: 5px;
  padding: 5px;

  height: 32px;
  width: 200px;
  left: 24px;
  top: 12px;

}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  
  // font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  font-feature-settings: 'liga' off;
  color: #8C97AC;
}

.icon {
  width: 42 px;
  height: 42px;
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}