.kanban-main-board {
    display: flex;
    margin-left: 22px;
    margin-top: 24px;
}

.column {
    width: 290px;
    height: 732px;
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.column-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-top: 25px;
}

.column-icon {
    margin-right: 8px;
}

.column-line {
    width: 242px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
}

.todo-done-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.018em;
    color: rgba(0, 23, 71, 1);
}

.task {
    width: 242px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 23, 71, 0.05);
}

.rectangle-blue {
    min-width: 24px;
    height: 24px;
    background-color: rgba(45, 112, 253, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 24px;
    margin-left: auto;
}

.number-blue {
    color: rgba(45, 112, 253, 1);
    font-size: 13px;
}

.task-items {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 4px;
}

.task-epc-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.rectangle {
    width: 24px;
    height: 24px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 23, 71, 0.1);
    border-radius: 4px;
}

.number {
    color: rgba(0, 23, 71, 1);
    font-size: 13px;
}

.priority-icon {
    margin-left: auto;
    margin-right: 12px;
}

.task-items .user-icon {
    margin-left: 12px;
}

.task-text {
    display: block;
    margin: 12px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(64, 81, 117, 1);
}

.tsk-epc-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: rgba(140, 151, 172, 1);
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.board-header-left {
    display: flex;
    align-items: center;
}

.board-header-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board-header-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.board-header-text {
    margin-left: 4px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-feature-settings: 'liga' off;
    color: rgba(64, 81, 117, 1);
}

.board-header-bold-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    font-feature-settings: 'liga' off;
    color: rgba(0, 23, 71, 1);

}

.line-icon {
    margin-left: 8px;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 8px;
}

.complete-button {
    border-radius: 4px;
    border: none;
    color: rgb(45, 112, 253);
    background-color: rgba(45, 112, 253, 0.07);
    width: 129px;
    height: 32px;
    margin-left: 20px;
}

.board-header-right {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.board-header-right-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}