.kanban-container {
    
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 16px;
}

.board-header-left {
    display: flex;
    align-items: center;
}

.board-header-button {
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board-header-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.board-header-text {
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

.board-header-right {
    display: flex;
    align-items: center;
}

.board-header-right img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}