.sidebar {
    min-width: 185px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 8px;
    margin-bottom: 24px;
}

.sidebar-button-text {
    // font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;
    color: rgba(64, 81, 117, 1);
}

.sidebar-button-task {
    width: 161px;
    height: 32px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    background-color: rgba(45, 112, 253, 1);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-top: -8px; //???????
}

.icons-task {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: white;
}

.selected-button {
    width: 5px;
    height: 5px;
    margin-left: auto;
}

.icons {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.sidebar-button-user {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.line {
    margin-bottom: 16px;
}

.sidebar-button-user-text {
    // font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;
    color: rgba(0, 23, 71, 1);

}

.user-logo {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}