.sidebar {
    min-width: 185px;
    background-color: white;
    transition: width 0.3s ease;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;
    color: #405175;
}

.sidebar-top {
    padding: 10px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
