// App.scss

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
}
.page {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.main-content {
  overflow: auto;
  background-color: rgba(140, 151, 172, 0.07);
}